.b-popup
	min-height: 100vh
	margin: 0 auto
	padding: 50px
	background-color: white
	&__email
		font-size: 66px

.mfp-open-anim
	animation: popup .5s ease-in-out

@keyframes popup
	0%
		opacity: 0
	100%
		opacity: 0.8
