<main class="l-main" style="background-image: url('images/panorama.jpg')">
	<div class="l-main__content wrapper js-anim-border">
		<div class="b-logo js-anim-logo">
			<h1 class="b-logo__head">Andrius</h1>
			<p class="b-logo__sub-head">Это прекрасно!</p>
		</div>
	</div>
</main>
<button class="b-menu-trigger js-menu-trigger" type="button" title="Открыть попап"></button>

<div id="popup-content" style="display: none;">
	<div class="b-popup wrapper">
		<h1>Andrius - это веб-мастерская, где к своему ремеслу относятся с особым трепетом и вниманием.</h1>
		<p>Мы придумываем дизайн, разрабатываем, поддерживаем и помогаем во всём, что связано с сайтами. Мы не обращаем внимания на то, какой у вас средний чек - мы работаем с любым стартапом или малым бизнесом и берём с вас меньше, чем другие студии.</p>
		<h2>Почему?</h2>
		<p>Потому что сайт делаете вы, а мы лишь воплощаем ваши идеи в жизнь. Мы хотим знать, что вам нравится и как вы видите свой будущий проект. Мы отталкиваемся только от ваших целей и не даём бесполезных советов о том, что "нужно" или "не нужно" делать. Вы платите только за ту работу, которая была выполнена. Мы не используем чужие работы, не крадём шаблоны или идеи, мы делаем всё своими руками. Не платите лишнего, экономьте своё время. Andrius сделает так, как вы этого хотите.</p>
		<h2>Напишите нам</h3>
		<div class="form">
			<form action="" method="post" class="form ajax_form">
				<div class="form__block">
					<input class="form__el form__el--input" id="y_name" type="text" name="name">
					<label class="form__label" for="#">
						<span class="form__label-text">Ваше имя</span>
					</label>
				</div>
				<div class="form__block">
					<input class="form__el form__el--input" id="y_email" type="email" name="email">
					<label class="form__label" for="#">
						<span class="form__label-text">Ваш Email *</span>
					</label>
				</div>
				<div class="form__block">
					<textarea class="form__el form__el--textarea" id="y_proj" name="project" placeholder=""></textarea>
					<label class="form__label" for="#">
						<span class="form__label-text form__label-text--long">Кратко опишите ваш проект или задайте вопрос *</span>
					</label>
				</div>
				<button type="submit" class="btn form__btn">
					<span class="form__btn-text">Отправить</span>
				</button>
				<p class="form__sub-text">* - поля обязательные для заполнения</p>
			</form>
		</div>
	</div>
</div>