<main class="l-main" style="background-image: url('http://gipnos.alphacentr.ru/published/publicdata/U312289/attachments/SC/images/city-panorama_004.jpg')">
	<div class="l-main__content wrapper js-anim-border">
		<div class="b-logo js-anim-logo">
			<h1 class="b-logo__head">Andrius</h1>
			<p class="b-logo__sub-head">Это божественно !</p>
		</div>
	</div>
	<button class="menu-trigger js-menu-trigger" type="button">
		<span class="visuallyhidden">Меню</span>
	</button>
</main>
<nav class="menu">
	<ul class="menu__inner">
		<li class="menu__item">
			<a class="menu__link" href="#">item1</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="#">item2</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="#">item3</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="#">item4</a>
		</li>
		<li class="menu__item">
			<a class="menu__link" href="#">item5</a>
		</li>
	</ul>
</nav>

<div class="popup-paranja"></div>